@import '../variables';

.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
      margin-right: 15px;
    }

    button {
      text-align: center;

      padding: 2px 8px;
      border: 1px solid $orange;
      border-radius: 10px;
      margin-right: 5px;
      cursor: pointer;
      background-color: white;
      color: $orange;

      &:hover {
        background-color: $orange;
        color: white;
      }
    }
    .activeButton {
      background-color: $orange;
      color: white;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
